<div class="row">

    <h3>Hard & Soft Skills</h3>

    <div class="cicleSkill">
      <button type="button" class="btn btn-secondary btn-sm" routerLink="/nuevaskill" *ngIf="isLogged">Nueva Skill</button>
        
    </div>
    
      <div class="text center col-sm-4 col-md-4 col-lg-4 circle" *ngFor="let skill of skill">
        <circle-progress
          [percent]="(skill.porcentaje)"
          [radius]="100"
          [title]="(skill.nombre)"
          [titleColor]="'#0756A8'"
          [titleFontSize]="'1.2em'"
          [showSubtitle]="false"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#0756A8'"
          [innerStrokeColor]="'#66C47C'"
          [animation]="true"
          [animationDuration]="400"
        ></circle-progress>

        <td *ngIf="isLogged">
          <button class="btn btn-primary" routerLink="/editarskill/{{skill.id}}">
          <i class="bi bi-pencil-fill"></i> Editar</button>
        </td>
              
          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(skill.id)">
              <i class="bi bi-trash3-fill"></i> Eliminar</button>
          </td>
         
     
  </div>
</div>





