.row{
  padding:2px;
  padding:1px 25px 1px 47px;
  border: 2px solid #222281;
 }

div{
  border-radius: 11px 11px 11px 11px;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  background:#D5D5FF
  /*linear-gradient(90deg, #C489DB 0%, #5353BC 100%);*/
 }

 .skills{
  margin:0px 47px 0px 25px;
  border-radius: 11px 11px 11px 11px;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;

 }

 circle-progress{
  padding:1px 1px 1px 1px;
  position:sticky;
  align-items: center;
 }


