<div>
  <div class="skills">
  <h4>Hard & Soft Skills <style> background:linear-gradient(90deg, #C489DB 0%, #5353BC 100%);</style></h4>
  <div class="row">
    <h5>Hard Skills</h5>
      <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="80"
          [radius]="100"
          [title]="'Angular'"
          [titleColor]="'#0756A8'"
          [titleFontSize]="'1.2em'"
          [showSubtitle]="false"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#0756A8'"
          [innerStrokeColor]="'#66C47C'"
          [animation]="true"
          [animationDuration]="400"
        ></circle-progress>
      </div>
      <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="75"
          [radius]="100"
          [title]="'Backend'"
          [titleColor]="'#0756A8'"
          [titleFontSize]="'1.2em'"
          [showSubtitle]="false"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#0756A8'"
          [innerStrokeColor]="'#66C47C'"
          [animation]="true"
          [animationDuration]="400"
        ></circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="75"
          [radius]="100"
          [title]="'Inglés'"
          [titleColor]="'#0756A8'"
          [titleFontSize]="'1.2em'"
          [showSubtitle]="false"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#0756A8'"
          [innerStrokeColor]="'#66C47C'"
          [animation]="true"
          [animationDuration]="400"
        ></circle-progress>
      </div>
  </div>


  <div class="row">
    <h5>Soft Skills</h5>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="90"
          [radius]="100"
          [title]="'Flexibilidad'"
          [titleColor]="'#0756A8'"
          [titleFontSize]="'1.2em'"
          [showSubtitle]="false"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#0756A8'"
          [innerStrokeColor]="'#66C47C'"
          [animation]="true"
          [animationDuration]="400"
        ></circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="80"
          [radius]="100"
          [title]="'Capacidad resolutiva'"
          [titleColor]="'#0756A8'"
          [titleFontSize]="'1.1em'"
          [showSubtitle]="false"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#0756A8'"
          [innerStrokeColor]="'#66C47C'"
          [animation]="true"
          [animationDuration]="400"
        ></circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="70"
          [radius]="100"
          [title]="'Gestión de tiempo'"
          [titleColor]="'#0756A8'"
          [titleFontSize]="'1.1em'"
          [showSubtitle]="false"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#0756A8'"
          [innerStrokeColor]="'#66C47C'"
          [animation]="true"
          [animationDuration]="400"
        ></circle-progress>
      </div>
  </div>
</div>
</div>





