.row{
 padding:2px;
}

div{
  text-align: justify;
  background:linear-gradient(90deg, #C489DB 0%, #5353BC 100%);

}

#fullname{
  font-weight: bolder;
  font-size: 2.2em;
}


/*Media Queries*/
@media (min-width: 320px){
  #profileph{
    position:absolute;
    width:20%;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 1px solid #C489DB;
    left:2%;
    bottom: 38%;
   }

  #fullname{
    margin-bottom: 4px;
    margin-top: 56px;
  }
}
