img{
  width: 100%;

}

.photo{
  border-radius: 32px;
  margin: 10px auto; /* auto es para acomodar al centro lateralmente */
  border: 4px solid #D5D5FF;
  border-width: 1px;
  position: relative /* es importante porque tiene hijo absoluto */
}

#profileph{
  position: relative;
  bottom: 6.3rem;
  border-radius: 50%;
  right:1rem;

}

#fullname{
  font-weight: bold;
  font-size: 2em;
}

.textabout{
  color:#424249;
}

.editButton{
  text-align: right;
}



/*Media Queries*/

@media (min-width: 768px) and (max-width: 1024px){
  #profileph{
    left:1rem;
    bottom:5em;

   }

  #fullname{
    margin-bottom: 4px;
    margin-top: 11%;
  }

}


@media (min-width: 481px) and (max-width: 767px){
  #profileph{
    left:0rem;
    bottom:3em;
    width:100%;
   }

  #fullname{
    margin-bottom: 4px;
    margin-top: 8%;
  }
}

@media (min-width: 320px) and (max-width: 480px){
  #profileph{
    left:4rem;
    bottom:2em;
    width:59%;
    }

  #fullname{
    margin-bottom: 4px;
    margin-top: 37px;
  }


}
