.aboutme{
    margin:10px 0px 10px 1px;;
    border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 2px solid #222281;
   }

.photo{
  border-radius: 32px;
  margin: 10px auto; /* auto es para acomodar al centro lateralmente */
  border: 4px solid #D5D5FF;
  border-width: 1px;
  max-height: 300px; /* cambiar hasta adaptar (puede ser 100%) */
  width: 100%;
  max-width: 980px;
  position: relative /* es importante porque tiene hijo absoluto */
}

#profileph{
  height: 6rem;
  width: 6rem; /* para que sea redondo, el width y height debe ser la misma medida */
  position: absolute; /* poner encima de todos */
  /*left: 1.3rem; /* a la derecha */
  bottom: 1.3rem; /* abajo */
  border-radius: 50%; /* aplica a los cuatros lados: 50% bien redondo */

}

#fullname{
  font-weight: bold;
  font-size: 2em;
}

.textabout{
  color:#424249;
}

.editButton{
  text-align: right;
}



/*Media Queries*/
@media (min-width: 1025px){


}

@media (min-width: 768px) and (max-width: 1024px){
  #profileph{
  width:20%;
  left:2%;
  bottom: 44em;
   }

  #fullname{
    margin-bottom: 4px;
    margin-top: 11%;
  }

}


@media (min-width: 481px) and (max-width: 767px){
  #profileph{
    left:2%;
    bottom: 60%;
   }

  #fullname{
    margin-bottom: 4px;
    margin-top: 8%;
  }
}

@media (min-width: 320px) and (max-width: 480px){
  #profileph{
    left:2%;
    bottom:34em;
   }

  #fullname{
    margin-bottom: 4px;
    margin-top: 37px;
  }
}
