<div class="container" *ngIf="edu">
    <h4>Editar Experiencia</h4>

    <div class="row">
        <div>
           <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="col">
            <div class= "form-group">
                <label for="nombreInstitucion">Nombre de la Institución</label>
                <input type="text" class="form-control" id="nombreInstitucion" name="nombreInstitucion" [(ngModel)]="edu.nombreInstitucion" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
                <label for="tituloEd">Título Obtenido</label>
                <input type="text" class="form-control" id="tituloEd" name="tituloEd" [(ngModel)]="edu.tituloEd" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
                <label for="periodo">Período</label>
                <input type="text" class="form-control" id="periodo" name="periodo" [(ngModel)]="edu.periodo" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
                <label for="descripcionEd">Descripción de formación</label>
                <input type="text" class="form-control" id="descripcionEd" name="descripcionEd" [(ngModel)]="edu.descripcionEd" required>
            </div>
          </div>
            <br/>
            <button type="submit" class="btn btn-outline-info">
                Actualizar</button>
                <div class="backbutton">
                <button class="btn btn-outline-dark" routerLink=" ">
                <i class="bi bi-arrow-left-square"></i> Volver</button>
            </div>
           </form>
        </div>
    </div>
</div>

