/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.vh-100{
     /* safari 5.1+,chrome 10+ */
     background:-webkit-linear-gradient(180deg, #D5D5FF 0%, #B8B8EC 47%, #D5D5FF 100%);

     /* opera 11.10+ */
     background:-o-linear-gradient(180deg, #D5D5FF 0%, #B8B8EC 47%, #D5D5FF 100%);

     /* ie 6-9 */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D5D5FF', endColorstr='#D5D5FF', GradientType=1 );

     /* ie 10+ */
     background:-ms-linear-gradient(180deg, #D5D5FF 0%, #B8B8EC 47%, #D5D5FF 100%);

     /* global 94%+ browsers support */
     background:linear-gradient(180deg, #D5D5FF 0%, #B8B8EC 47%, #D5D5FF 100%);
}


/* Reseting */
* {
     font-family: 'Poppins', sans-serif;
}
p,a,h3{
     color:#666;
     text-align: center;
     padding-top:15px;
}

.logo{
     margin: 0 0 30 0;
     position: relative;
}

.signup{
     font-size: smaller;
}