.row{
   background:linear-gradient(90deg, #8B8BE8 0%, #D5D5FF 49%, #8B8BE8 100%);
 }

 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

#apLogo{
    width:100px;
}


.nav-link {
    float: right;
    margin: 5px 5px 5px 5px;

}

.socialicons{
    margin-left: 40em;
    
}

.log{
    padding-right: 13px;
}