div{
  background:linear-gradient(90deg, #C489DB 0%, #5353BC 100%);

 }

#apLogo{
    width:100px;
}


.nav-link {
    float: right;
    margin: 10px 5px 5px 5px;

}

.badge bg-secondary{
float:right;

}
