.row{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background:linear-gradient(90deg, #8B8BE8 0%, #D5D5FF 49%, #8B8BE8 100%);
 }

 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

#apLogo{
    width:100px;
}


.nav-link {
    float: right;
    margin: 5px 5px 5px 5px;

}

.socialicons{
    margin-left: auto;
    
}

.log{
    padding-right: 13px;
}


/*Media Queries*/
@media (min-width: 1281px){
  
  
}


@media (min-width: 1025px) and (max-width: 1280px){
 

}

@media (min-width: 768px) and (max-width: 1024px){
  

}


@media (min-width: 481px) and (max-width: 767px){
  
}

@media (min-width: 320px) and (max-width: 480px){
  
}
