/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  font-family: 'Poppins', sans-serif;
  /*width: fit-content block;*/
 
}

html{
  width:100%;
  height:100%;
 
}

html,body,footer{
  max-block-size:100%;
  background: #D5D5FF;
  }

  header{
    background:linear-gradient(90deg, #D5D5FF 0%, #8B8BE8 100%);
  }

 .row{
  margin-right: auto;
  margin-left: auto;
 }

 .backbutton{
  display:inline-block;
  justify-content: space-between;
  padding-left:5%;
}