div{
  width:90%;
  text-align: justify;
  }

 .row{
  padding: 0% 3.5% 0% 2.5%;
  align-items: stretch;

  }

 h4{
  color:#222281;
 }
 .conteiner{
  width:auto;
 }
 .a,b{
  display:inline-block;
  text-align: justify;
 }
 .projects{
  margin:10px 10px 10px 10px;
  border-radius: 11px 11px 11px 11px;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  border: 2px solid #222281;
  background: #D5D5FF;
  }

 .textproject{
    color: #424249;
 }

 .img-projects{
  box-shadow:10px,10px,10px,30px  #8B8BE8;
 }
