div{
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
    height:20%;
    background: fixed;
    background-size: cover;
    position: relative;
    display: inline-block;
    flex-flow: row;
  }
